@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
    background-color: rgb(255, 187, 168);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
}

.header h1 {
    display: flex;
    height: 92px;
}

.ejemplos-trabajos {
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none !important;
}

a,
a:visited {
    color: #000000 !important;
}

.header ul {
    margin: 0;
    padding: 0;
}

.lista {
    display: flex;
}

.lista li {
    display: flex;
    padding: 5px;
    margin: 5px;
    align-items: center;
    flex-direction: row;
}

/* Main index */

.main-index {
    background: linear-gradient(180deg, #ffe5b9 0%, #ffa66f 50%, #fa8072 100%);
    display: grid;
    justify-items: center;
}

.slide {
    width: 30vw;
    margin: 3% 30% 5% 30%;

}

.carousel-control-next {
    height: 30px;
    position: absolute;
    top: 50% !important;
}

.carousel-control-prev {
    height: 30px;
    position: absolute;
    top: 50% !important;
}


/* Main Trabajos */

.main-trabajos {
    background: linear-gradient(180deg, #ffe5b9 0%, #ffa66f 50%, #fa8072 100%);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.esmaltado-semipermanente {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 5.5rem 1rem 5.5rem 1rem;
    border: #ff6c5e 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 35rem;
}

.kapping-acrilico {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 5.5rem 1rem 5.5rem 1rem;
    border: #ff6c5e 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 35rem;
}

.soft-gel {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 5.5rem 1rem 5.5rem 1rem;
    border: #ff6c5e 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 35rem;
}

/* Main Precios */
.main-precios {
    background: linear-gradient(180deg, #ffe5b9 0%, #ffa66f 50%, #fa8072 100%);
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* Footer Precios */
.footer-precios {
    height: 9rem;
    background-color: #ffbba8;
    display: flex;
    justify-content: center;
}


/* Main Service */

.main-service {
    background: rgb(255, 229, 185);
    background: linear-gradient(180deg, rgba(255, 229, 185, 1) 0%, rgba(255, 166, 111, 1) 50%, rgba(255, 166, 111, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.main-service p {
    font-size: 40px;
    width: 65vw;
    display: flex;
    margin: 2rem;
    padding: 10px;
    border: #ffbba8 0.5rem solid;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fff4e1a2;
}

.service-fotos {
    font-size: 1.5rem;
    background: rgb(255, 166, 111);
    background: linear-gradient(180deg, rgba(255, 166, 111, 1) 0%, rgba(250, 128, 114, 1) 50%, rgba(250, 128, 114, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.imagen-service1 {
    margin: 5rem 2rem 5rem 30rem;
    padding: 1rem;
    border: solid 0.5rem #ffbba8;
}

.imagen-service2 {
    margin: 5rem 30rem 5rem 2rem;
    padding: 1rem;
    border: solid 0.5rem #ffbba8;
}

/* Main Contacto */

.main-contacto {
    background: linear-gradient(180deg, #ffe5b9 0%, #ffa66f 50%, #fa8072 100%);
    display: grid;
    padding: 3rem;
    justify-content: center;
}

.contacto-formulario {
    border: solid #ffbba8 0.5rem;
    padding: 1rem;
    display: grid;
    justify-items: center;
    background-color: #fff4e1a2;
}

textarea {
    margin: 15px;
}

select {
    margin: 15px;
}

.Input-contacto {
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 0 #fff;
    background-color: #ffbba8;
    margin: 15px;
}

/* footer */
.footer {
    background-color: #ffbba8;
    display: flex;
    justify-content: center;
}

footer i {
    font-size: 50px;
    margin: 25px;
}

/* Media Query - Mobile Last */

@media (max-width: 768px) {
    .header {
        background-color: rgb(255, 187, 168);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 150px;
    }

    .main-index {
        height: 70vh;
    }

    .ejemplos-trabajos {
        margin: 2rem;
    }

    .slide {
        width: 40vw;
    }

    .carousel-control-next {
        height: 30px;
        position: absolute;
        top: 60% !important;
    }

    .carousel-control-prev {
        height: 30px;
        position: absolute;
        top: 60% !important;
    }

    .main-trabajos {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .imagen-trabajo {
        width: 22vw;
    }

    .esmaltado-semipermanente {
        font-size: 20px;
        height: 22rem;
        width: 22rem;
        margin: 20px;
    }

    .kapping-acrilico {
        font-size: 20px;
        height: 22rem;
        width: 22rem;
        margin: 20px;
    }

    .soft-gel {
        font-size: 20px;
        height: 22rem;
        width: 22rem;
        margin: 20px;
    }

    .main-service p {
        font-size: 20px;
    }

    .footer {
        height: 7rem;
    }
}

@media (max-width:480px) {
    .header {
        display: grid;
        height: 180px;
        justify-items: center;
        justify-content: center;
    }

    .header h1 {
        margin-bottom: 20px;
    }

    .header .lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .main-index {
        height: 70vh;
    }

    .ejemplos-trabajos {
        margin: 1rem;
    }

    .slide {
        width: 60vw;
    }

    .slide img {
        margin: 1.5rem;
        height: 40vh;
    }

    .imagen-trabajo {
        width: 25vw;
    }

    .esmaltado-semipermanente {
        font-size: 15px;
        height: 16rem;
        width: 16rem;
        margin: 20px;
    }

    .kapping-acrilico {
        font-size: 15px;
        height: 16rem;
        width: 16rem;
        margin: 20px;
    }

    .soft-gel {
        font-size: 15px;
        height: 16rem;
        width: 16rem;
        margin: 20px;
    }
}